apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: sentiment-analysis
  labels:
    app: grafana
    component: monitoring
spec:
  type: NodePort
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30300
    protocol: TCP
    name: web
  selector:
    app: grafana
