apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: sentiment-analysis
  labels:
    app: prometheus
    component: monitoring
spec:
  type: NodePort
  ports:
  - port: 9090
    targetPort: 9090
    nodePort: 30900
    protocol: TCP
    name: web
  selector:
    app: prometheus
