.git
.gitignore
.github
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
*.egg-info
dist
build
*.log
.vscode
.idea
.DS_Store
venv
env
*.ipynb_checkpoints
notebooks
tests
docs
*.md
!requirements.txt
mlruns
results
data/raw
data/processed
models/trained_model
models/trained_model_v2
models/final_sentiment_bert
models/distilbert_sentiment
models/distilbert_sentiment.zip
models/roberta_sentiment.zip
.pre-commit-config.yaml
Makefile
