apiVersion: v1
kind: Service
metadata:
  name: sentiment-api
  namespace: sentiment-analysis
  labels:
    app: sentiment-api
    component: backend
spec:
  type: NodePort
  selector:
    app: sentiment-api
  ports:
  - name: http
    port: 8000
    targetPort: 8000
    nodePort: 30800
    protocol: TCP
  sessionAffinity: None
